RPSIOProject/obj
VSCode.cs
VSCode.cs.meta
RPSIOProject/.vscode
Plugins.meta
Editor.meta
RPSIOProject/Assembly-CSharp-Editor-firstpass.csproj
RPSIOProject/Assembly-CSharp-Editor.csproj
RPSIOProject/Assembly-CSharp.csproj
